<h1>Listing uploads</h1>

<% @uploads.each do |upload| %>
  <div class="row" id="recipe_top">
    <div class="col-md-8">
      <h2><%= link_to upload.name, upload %></h2>
      <p>
        <% if upload.uploaded_file.exists? %>
          <%= image_tag upload.uploaded_file.url(:medium) %><br/>
        <% end %>
      </p>
      <p><%= "#{time_ago_in_words(upload.created_at)} ago" %></p>
      <p><%= upload.price %></p>
      <p><%= upload.description %></p>
      <br>
      <%= link_to 'Show', upload, class: "btn btn-default"  %>
      <%= link_to 'Edit', edit_upload_path(upload), class: "btn btn-default"  %>
      <%= link_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"  %>
    </div>
  </div>
<% end %>
